/* - > Colors < - */
.background__lite-gray{
    background-color: #f7f7f7;
}
.background__black{
    background-color: #353535;
}
.background__white {
    background-color: #ffffff;
}

a {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 26px;
}


a:hover{
    color: #fff;
}

.nav{
    padding-top: 56px;
}

/* - > Custom < - */
body{
    font-family: 'Montserrat', sans-serif;
}
.full-screen-height {
    height: 100vh;
    min-height: 450px;
}
.head-margin{
    margin-top: -82px;
}
.float-right {
    float: right;
}
.a-enter-vr-button{
    display: none;
}
.fullscreen {
    height: 35%!important;
    min-height: 200px!important;
}


/* - > ReInit < - */
.text-center{
    text-align: center;
}


/* - > ReInit < - */
.container-fluid {
    padding: 0px;
}
.nav > li > a{
    font-size: 1.5em;
    padding: 0;
    display: inherit;
    font-weight: 800;
}
.nav > li > a:focus, .nav > li > a:hover{
    background-color: #353535;
}
.btn{
    box-shadow: none;
    outline: 0;
}
.btn-default{
    border: none;
    border-radius: 0;
    background: none;
    color:#333;
}

/* - > Header < - */
.headroom-wrapper__max_width {
    max-width: 1600px;
}

.brand-logo__header {
    width: 175px;
    padding-left: 5px;
}



/* - > Burger menu btn < - */
.burger-button__color{
    background-color: #353535;
}

.bm-burger-button {
    position: relative;
    float: right;
    width: 34px;
    height: 30px;
    left: -10px;
    top: 15px;
}
.bm-burger-button__top {
    position: absolute;
    height: 15%;
    left: 0px;
    right: 0px;
    top: 0%;
    opacity: 1;
}
.bm-burger-button__middle {
    position: absolute;
    height: 15%;
    left: 0px;
    right: 0px;
    top: 40%;
    opacity: 1;
}
.bm-burger-button__bottom {
    position: absolute;
    height: 15%;
    left: 0px;
    right: 0px;
    top: 80%;
    opacity: 1;
}
.bm-burger-button__btn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    opacity: 0;
    font-size: 8px;
    cursor: pointer;
}


/* - > Left slide menu < - */
.bm-menu-wrap, .bm-overlay {
    position: absolute;
    top: 0;
}
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.bm-cross {
    background: #f7f7f7;
}
.bm-menu {
    font-size: 1.15em;
}
.bm-morph-shape {
    fill: #373a47;
}
.bm-item-list {
    padding: 0 15px 0 15px;
}
.bm-vertical-menu {
    padding: 40px 20px 10px 20px;
}
.nav-pills > li {
    float: none;
}
.slide-menu a{
    color: #f7f7f7;
}

/* - > Intro block < - */
.intro-block{
    position: absolute;
    max-width: 925px;
    top: 35%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.intro-block__h1{
    font-weight: 800;
    font-size: 120px;
    user-select: none;
}

.intro-block__h2{
    font-size: 40px;
    margin-top: -12px;
    margin-left: 5px;
    user-select: none;
}
.intro_row{
    margin-top: -50px;
}
.intro{
    height: 140vh;
    min-height: 650px!important;
}

/* - > Language choice btn < - */
.btn-group__lang{
    float: right;
    right: 32px;
    top: 13px;
}











h2{
    font-weight: 700;
    font-size: 48px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #353535;
}


.jumbotron h1{
    font-weight: 700;
    color: #0070c9;
}
.intro_h2 {
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
}

.intro-block h2{
    font-weight: 400;
    color: #353535;
}

.main-grid{
    margin-top: -150px;
}

.headroom{
    padding: 24px;
}
.team-block {
    padding-top: 0px!important;
}
.team-block h2{
    margin-top: 0;
    text-align: right;
}
.team-block__text{
    text-align: left;
    font-size: 22px;
    padding-top: 36px;
    padding-bottom: 52px;
}
.rer{
    height: 700px;
}



.block_row{
    padding-top: 54px;
    padding-bottom: 54px;
}
.block_row__small{
    padding-top: 28px;
    padding-bottom: 32px;
}

.text-block{
    padding-top: 44px;
}
.server_img{
    margin-top: -42px;
}
.camera_img{
    padding-top: 18px;
}
.air_img{
    padding-top: 40px;
}


.text-block li{
    font-size: 22px;
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  color: #0070c9;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.control-label{
    color: #0070c9;
    font-size: 22px;
}

.form-control{
    border-radius: 0px;
}
.has-feedback label~.form-control-feedback{
    top: 36px;
}

.form-control{
    color: #353535;
}




.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{
    background: #353535;
    opacity: 1;
}


.btn-default {
    border: none;
    border-radius: 0;
    background: #006fc9;
    color: #fff;
    margin-top: 18px;
    letter-spacing: .5px;
}

.btn-default:hover{
    background: #0f4b92;
    color: #fff;
}

.footer{
    background: #353535;
    margin-top: 36px;

}
.footer-row{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 18px;
    letter-spacing: 1px;

}
.footer-text{
    color: #fff;
}
.footer-text a{
    font-weight: 400;
    font-size: 18px;
}

.jumbotron{
    background-color: transparent;
    margin-top: -90px;
    padding-left: 0!important;
    padding-right: 0!important;
}

.contact-form{
    margin: auto;
    padding-top: 34px;
}


@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top:90px;
        padding-bottom: 90px;
    }
}



@media (min-width: 1550px) {
    .container{ width: 1366px; }
}

@media (max-width: 1340px) {
    .container{ width: 1080px; }
}

@media (max-width: 1200px) {
    .container{ width: 980px; }
    .intro-block__h1{font-size: 100px;}
    .intro-block__h2{font-size: 36px;}
    .intro-block{max-width: 775px;}
}

@media (max-width: 1120px) {
    .container{ width: 900px; }
}
@media (max-width: 1040px) {
    .container{ width: 100%; }
    .jumbotron h1{
        font-size: 50px;
    }
    .intro_h2{
        font-size: 28px;
    }
}

@media (max-width: 996px) {
    .background__black_small{ background-color: #353535 }
    .headroom-wrapper__max_width{ padding:5px }

}

@media (max-width: 991px){
    .block_row{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .text-block {
        padding-top:20px;
    }
    h2 {
        padding-top:0;
    }
    .block_row__small{
        padding-bottom: 0;
        padding-top: 0;
    }
    .contact-form{
        padding-top:10px;
    }
    .team-block__text{
        font-size:18px;
    }
    .text-block li{
        font-size:18px;
    }
}

@media (max-width: 870px) {
    .intro-block__h1{
        font-size: 70px;
    }
    .intro-block__h2{
        font-size: 28px;
        margin-left: 3px;
    }
    .intro-block{
        float: left;
        text-align: left;
        left: 24px;
        top: 260px;
    }
    .jumbotron h1{
        font-size: 42px;
    }
    .intro_h2{
        font-size: 24px;
    }
    .jumbotron {
        width: 700px
    }
    .footer-row{
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        letter-spacing: .5px;
    }

    .footer-text a{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: .5px;
    }
}

@media (max-width: 720px) {
    .jumbotron {
        width: 550px
    }
    .jumbotron h1{
        font-size: 38px;
    }
    .intro_h2{
        font-size: 22px;
    }
}

@media (max-width: 600px) {
    .intro-block__h1{
        font-size: 45px;
    }
    .intro-block__h2{
        font-size: 24px;
        margin-left: 0;
    }
    .intro-block{
        margin-left: -5px;
        max-width: 90%;
    }
    .jumbotron {
        padding-top: 170px;
        width: 370px
    }
    .intro_h2{
        padding-top: 30px;
        font-weight: 800;
        font-size: 22px;
    }
    .footer-row{
        font-size: 12px;
        letter-spacing: .5px;
    }

    .footer-text a{
        font-weight: 400;
        font-size: 12px;
        letter-spacing: .5px;
    }
}